<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/css/styleconfig.css"/>
        <title>Configurações - Aquanox</title>
    </head>
    <body class="config-bg">
        <div class="config-app">
            <div class="config-banner">
                <img class="config-logo" src="static/img/logo.png" />
            </div>
            <div class="config-header">
                <div class="config-user-info">
                    <div class="config-user-info-title">
                        Sua <span class="config-user-info-title-bold">conta.</span>
                    </div>
                    <div class="config-user-info-field">
                        <input type="text" value="{{ usuario_nome }}" disabled class="config-user-input" placeholder="Usuário">
                        <img src="static/img/user.svg" alt="Usuário" class="config-user-info-icon-input">
                    </div>
                    <div class="config-user-info-field">
                        <input type="text" value="{{ usuario_email }}" disabled class="config-user-input" placeholder="E-mail">
                        <img src="static/img/email.svg" alt="E-mail" class="config-user-info-icon-input">
                    </div>
                    <div class="config-user-info-field">
                        <input type="password" value="{{ usuario_senha }}" disabled class="config-user-input" placeholder="Senha">
                        <img src="static/img/senha.svg" alt="Senha" class="config-user-info-icon-input">
                    </div>
                </div>
            </div>
            <div class="config-title-bar">
                <div class="config-title-main">Configurações</div>
            </div>
            <div class="config-container">
                <h2 class="config-title">Configurações do Usuário</h2>
                <p class="config-desc">
                    Aqui você poderá alterar suas preferências, redefinir senha, editar dados do perfil e outras opções em breve.
                </p>
                <button class="config-btn">Salvar Alterações</button>
            </div>
        </div>
    </body>
</html>
    </body>
</html>
